# Dependencies
node_modules
.pnpm-store

# Build
.next
out
dist
.turbo

# Env
.env
.env.local
.env.*.local

# IDE / OS
.DS_Store
.idea
.vscode
*.swp

# Logs / coverage
*.log
coverage

# Supabase
supabase/.branches
supabase/.temp

# Vercel
.vercel
